# SQL Interview Questions  - Quiz


## Introduction

This quiz contains questions on topics you can expect to see in an interview pertaining to SQL and Relational Databases. Some of them are multiple choice, while some are short answer. For these short answer questions, double click on the Jupyter Notebook and type your answer below the line. 

## Question 1

What are the 4 main datatypes in SQLite3? Can we use other common types from other kinds of SQL?

Type your answer below this line:
_______________________________________________________________________________________________________________________________
The 4 main datatypes in SQLite3 are: INTEGER, TEXT, REAL, & BLOB. Yes, other common types from other kinds of SQL can be used. (For example "INT", which gets lumped in the INTEGER datatype.




## Question 2

Explain the relationship between **Primary Keys** and **Foreign Keys**.

Type your answer below this line:
_______________________________________________________________________________________________________________________________

Primary Keys are unique identifiers in datatables. A Foreign key is that Primary Key in a different table. These two are used to relate or connect databases/datatables. 




## Question 3

Explain the different types of relationships entities can have in a SQL database. 

Type your answer below this line:
_______________________________________________________________________________________________________________________________
There can be one-to-one relationship, which uses a singular entity to join another singular entity. For example, one customer's firstname can retrieve that customer's one lastname. 

There can be a one-to-many relationship, where one entity retrieves multiple entities. For example, one customer's orderNumber can retrieve multiple products ordered.

There is also many-to-many relationships, where multiple entities can retrieve multiple entities. These are to be coded for carefully as a many-to-many relationship can possibly overload a system's database as the resulting datatable size can increase exponentially. For example, a table containing multiple offices to be joined with a table of employees per office, will multiply the two counts together.


## Question 4

Explain the various types of JOINs possible with SQL. 

Type your answer below this line:
_______________________________________________________________________________________________________________________________
There are INNER JOINs, which SQL defaults as 'JOIN'. INNER JOINs are for singular Primary Keys or Foreign Keys to link matching values among two data sets.

There are LEFT JOINS which join all the values from one table, with only matching values from another table.

There are RIGHT JOINs join one table's values that are matching with another table, and all the values from that second table.

There are also OUTER JOINS, which only are possible in versions of SQL other than SQLite3, which joins all values/columns from both tables.



## Question 5

Explain the relationship between Aggregate functions and GROUP BY statements.

Type your answer below this line:
_______________________________________________________________________________________________________________________________
Aggregate functions can retrieve minimum, maximum, average, sum of numerical values, or the count of a occurences of a value.

A GROUP BY statement, will group values in a datatable, based on the selected column to be grouped by.


## Question 6

What role do Associative Entities play (JOIN Tables) in many-to-many JOINs?

Type your answer below this line:
_______________________________________________________________________________________________________________________________
Associative Entities link two other separate tables or entities in many-to-many JOINs.


## Summary

In this lesson, we practiced answering open-ended interview questions for SQL and Relational Databases.